.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.inputs input {
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
}
